<newlist class="app-page">
    <header class="header-bar">
        <div class="center">
            <button class="btn icon icon-arrow-back pull-left" data-navigation="$previous-page"></button>
            <h1 class="title">Zikcenter</h1>
        </div>
    </header>
    <div class="content">
        <div class="padded-full">
            <h1 data-i18n="text: newlist_title"></h1>
            <div class="input-wrapper">
                <input class="with-label" type="text" id="adress">
                <label class="floating-label" for="adress" data-i18n="text: newlist_adress"></label>
            </div>
            <div class="input-wrapper">
              <input class="with-label" type="text" id="name">
              <label class="floating-label" for="name" data-i18n="text: newlist_name"></label>
          </div>
          <button class="btn fit-parent primary" data-i18n="text: newlist_submit" id="submit"></button>
        </div>
    </div>
</newlist>
