<updatelist class="app-page">
    <header class="header-bar">
        <div class="center">
            <button class="btn icon icon-arrow-back pull-left" data-navigation="$previous-page"></button>
            <h1 class="title">ZikCenter</h1>
        </div>
    </header>
    <div class="content">
        <div class="padded-full">
            <h1><span data-i18n="text: udpatelist_title"></span> "<span id="update-title"></span>"</h1>
            <div class="input-wrapper">
                <input class="with-label" type="text" id="update-name">
                <label class="floating-label" for="update-name" data-i18n="text: list_name"></label>
            </div>
            <button class="btn fit-parent primary" data-i18n="text: updatelist_update" id="update"></button>
            <h2 data-i18n="text: updatelist_other_actions"></h2>
            <div class="row text-center">
              <div class="phone-6 tablet-6 column">
                <button class="btn" data-i18n="text: updatelist_delete" id="delete"></button>
              </div>
              <div class="phone-6 tablet-6 column">
                <button class="btn" data-i18n="text: updatelist_refresh" id="refresh"></button>
              </div>
            </div>
        </div>

    </div>
</updatelist>
